
.dropdown-toggle:focus:after {
  transform: rotateX(180deg);
}

.device-box .card:focus {
  border-bottom: 3px solid #157ed2;
}

.device-box .card:hover > img, .card:focus > img {
  opacity: 1;
}

.evidence-card-btn:focus {
  border: 3px solid #0072ce;
  padding: 2px;
}

.evidence-card-btn:focus, .evidence-card-btn:hover {
  transform: translateY(-10px);
}


.animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}
  
  @keyframes slideIn {
    0% {
      transform: translateY(-1.5rem);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
  
    0% {
      transform: translateY(-1.5rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
  
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
  
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }
