
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #0072ce;
}

.dropdown-toggle:focus:after {
  transform: rotateX(180deg);
  color: black;
}

nav .list-group-item a:hover {
  color: #0072ce;
}

.btn-card-nav:focus,.btn-card-nav:hover {
  border: 1px solid rgba(0, 0, 0, 0.705);
  box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.92);
}

.device-box .card:focus {
  border-bottom: 3px solid #157ed2;
}

.device-box .card:hover > img, .card:focus > img {
  opacity: 1;
}

.evidence-card-btn:focus {
  border: 3px solid #0072ce;
  padding: 2px;
}

.evidence-card-btn:focus, .evidence-card-btn:hover {
  transform: translateY(-10px);
}

.btn-log-box:focus, .btn-log-box:hover {
  background-color: white;
}

.my-btn:focus {
  border: 2px solid white;
}

.btn-buy-box:focus .btn-buy, .btn-buy-box:hover .btn-buy {
  border: 2px solid black;
  color: white;
}

.my-btn-box:focus,.my-btn-box:hover {
  background-color: white;
  border: 2px solid rgb(13,110,253);
}

.playstation-now .my-btn-box:focus .my-btn, .playstation-now .my-btn-box:hover .my-btn {
  border: 2px solid black;
}



.animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}
  
  @keyframes slideIn {
    0% {
      transform: translateY(-1.5rem);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
  
    0% {
      transform: translateY(-1.5rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
  
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
  
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }
