@media screen and (min-width: 990px) {
    .jumbotext p {
        max-width: 400px;
    }
}

@media screen and (min-width: 1750px) {
    .jumbo-bg {
        width: 100%;
        
    }
}

@media screen and (max-width: 993px) {
    .my-container{
        width: 90%;
        margin: 0 auto;
    }

    .device-box .row {
        justify-content: start;
        flex-wrap: wrap;
        column-gap: 6em;
        row-gap: 1em;
    }

    .device-box span {
        display: none;
    }
}
