:root {
    --btn-dark: #363636;
    --btn-orange: #cd3d0f
    ;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: Helvetica, arial, sans-serif;
}

.my-container{
    width: 95%;
    margin: 0 auto;
}

.logo img {
    height: 20px;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.btn-log {
    background-color: var(--btn-dark);
}

.fa-magnifying-glass {
    font-size: 1.5em;
}

.jumbotext {
    bottom: 7%;
    left: 2%;
}

.jumbotext img {
    height: 4em;
}

.jumbotext p {
    padding-right: 1em;
}

.btn-buy {
    background-color: var(--btn-orange);
    color: white;
}